@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6.67%;

    --muted: 0 0% 90%;
    --muted-foreground: 20 5.3% 44.7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6.67%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 6.67%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;

    --primary: 20 80% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 20 100% 90%;
    --secondary-foreground: 20 100% 30%;

    --accent: 0 0% 90%;
    --accent-foreground: 0 0% 6.67%;

    --destructive: 0 90% 50%;
    --destructive-foreground: 0 0% 90%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 0 0% 6.67%;
    --radius: 0.5rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 80%;

    --muted: 0 0% 20%;
    --muted-foreground: 20 5.4% 63.9%;

    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 80%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 80%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;

    --primary: 20 80% 70%;
    --primary-foreground: 0 0% 0%;

    --secondary: 20 100% 20%;
    --secondary-foreground: 20 100% 80%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 80%;

    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 80%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 0 0% 80%;
    --radius: 0.5rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  .contain {
    @apply max-w-screen-xl px-3 mx-auto w-full;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.markdown {
  h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 2rem;
  }

  h3 {
    font-size: large;
    font-weight: bold;
    margin-top: 1rem;
  }

  h4 {
    font-size: medium;
    font-weight: bold;
    margin-top: 0.5rem;
  }

  li {
    list-style-type: decimal;
    margin-left: 3rem;
  }
}
